@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Josefin+Sans:wght@100;200;300;400;500;600;700&family=Lora:ital,wght@1,400;1,500;1,700&family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,400;0,500;1,300;1,700&family=Varela&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-image: url("./images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    
}
.container {
    padding: 110px 160px;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 220px);
    /* border: 1px solid black; */

}
.title{
    flex: 1;
    
    
}
.title h1{
    font-size: 45px;
    line-height: 50px;
    color: white;
}
.title p{
    margin-top: 35px;
    line-height: 25px;
    color: whitesmoke;
    letter-spacing: 0,5px;

}

.form{
    flex: 1;
    
}
.form .form_title{
    border: 1px solid black;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 7px rgb(205, 110, 107);
    background-color: hsl(248, 32%, 49%);
    height: 60px;
    color: white;
}
.form .form_title p{
    text-align: center;
    padding-top: 20px;
}
.form_border{
    
    width: auto;
    background-color: white;
    margin-top: 23px;
    border-radius: 15px;
    text-align: center;
    padding: 25px;
    
}
.small{
    margin-top: 20px ;
    margin-bottom: 20px;
    
}
.small input{
    height: 60px;
    width: 460px;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 25px 25px;
    outline: none;
    font-weight: 700;
    opacity: 0.8;
    display: inline-block;
    left: 1%;
    right: 1%;
}
.small input:focus{
    border: 1px solid black;
}
.btn{
    width: 460px;
    height: 60px;
    border-style: none;
    border-radius: 10px;
    box-shadow: 0 3px rgb(48, 180, 83);
    
    background-color: rgb(60, 194, 136);
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 20px;
    

}
.form_border p{
    font-size: 10px;
    font-weight: 500;
    color: grey;
    opacity: 0.6;
    
    
    
}
.form_border a{
    color: red;
    font-weight: 700;
    text-decoration: none;
}
